body {
    background-color: rgb(26, 34, 59);
    color: azure;
}

.ProjectLink {
    display: flex;
    justify-content: center;
}


button {

    background-color: rgb(17, 18, 21);
    color: red;
    font-size: 40px;
    margin-right: 10px;
}

.counterDisplay {
    display: flex;
    justify-content: center;
    margin: 50px;

 
.ProjectLink a {
    font-size: 50px;
    color: aliceblue;
}

#ProjectPara {

    font-size: larger;
    margin-right: 10px;

}

.ProjectLink i:hover {

    text-shadow: 0px 5px 20px grey;

}